<div class="container">
  <h1>Foo</h1>

  <!--<hr>
  <button (click)="toggle = !toggle">show cards</button>
  <hr>-->


  <!--<ng-template [ngIf]="toggle">
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
  </ng-template>

  <ng-template [ngIf]="!toggle">
    <p>Cards hidden</p>
  </ng-template>-->

  <app-card
    *ngFor="let item of cards; let idx = index"
    [card]="item"
    [index]="idx + 1"
  ></app-card>



  <!--<app-form></app-form>-->
</div>
